@theme {
  --color-coral:       #FF6553;
  --color-coral-light: #F3A3B4;

  --color-lime:        #CCFF00;
  --color-lime-light:  #EBFF87;

  --color-blue:        #2478F5;
  --color-blue-light:  #77C4FB;

  --color-error:       #F74E4E;
}
