@theme {
  --font-pretendard:   'Pretendard Variable', Pretendard, sans-serif;
  --font-wanted-sans:  'Wanted Sans', sans-serif;

  /* Title — semibold */
  --text-title-1: 64px;
  --text-title-2: 50px;
  --text-title-3: 32px;

  /* Subtitle — semibold */
  --text-subtitle-1: 24px;
  --text-subtitle-2: 22px;

  /* Body — regular / 행간 160% */
  --text-body-1: 20px;
  --text-body-1--line-height: 1.6;
  --text-body-2: 18px;
  --text-body-2--line-height: 1.6;
  --text-body-3: 16px;
  --text-body-3--line-height: 1.6;

  /* Button — medium */
  --text-button-1: 20px;
  --text-button-2: 18px;
  --text-button-3: 16px;

  /* Caption — regular */
  --text-caption-1: 15px;
  --text-caption-2: 13px;
  --text-caption-3: 14px;

  /* Login/Signup - title */
  --text-panel-1: 28px;

}
