@import 'tailwindcss';
@import 'pretendard/dist/web/variable/pretendardvariable.css';

@font-face {
  font-family: 'Wanted Sans';
  src: url('./assets/fonts/WantedSansVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@import './styles/tokens/grayscale.css';
@import './styles/tokens/color.css';
@import './styles/tokens/typography.css';
@import './styles/tokens/radius.css';

@theme {
  --font-sans: 'Pretendard Variable', Pretendard, system-ui, sans-serif;
  --font-en:   'Wanted Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
